[user]
	email = linuxmaniac@torreviejawireless.org
	name = Victor Seva
	signingkey = 51A09B18CF5A5068

[alias]
    cm = commit -am
    st = status
    co = checkout
    amend = commit --amend

    branches = branch -a
    tags = tag
    stashes = stash list

    unstage = reset -q HEAD --
    discard = checkout --
    uncommit = reset --mixed HEAD~

[push]
	default = current
[pull]
	rebase = true
[fetch]
	prune = true
[url "git@salsa.debian.org:"]
	pushInsteadOf = https://salsa.debian.org/
	insteadOf = salsa:
[diff]
    tool = meld
[difftool]
    prompt = false
[difftool "meld"]
    cmd = meld "$LOCAL" "$REMOTE"

[merge]
	tool = meld
[commit]
	verbose = true
    gpgsign = true
[sipwise]
	email = vseva@sipwise.com
