[user]
	email = linuxmaniac@torreviejawireless.org
	name = Victor Seva
	signingkey = 51A09B18CF5A5068
[push]
	default = current
[pull]
	rebase = true
[fetch]
	prune = true
[url "git@salsa.debian.org:"]
	pushInsteadOf = https://salsa.debian.org/
	insteadOf = salsa:
[diff]
	tool = meld
[difftool]
	prompt = false
[difftool "meld"]
	cmd = meld "$LOCAL" "$REMOTE"
[merge]
	tool = smerge
[commit]
	verbose = true
	gpgSign = true
[sipwise]
	email = vseva@sipwise.com
[mergetool "smerge"]
	cmd = smerge mergetool \"$BASE\" \"$LOCAL\" \"$REMOTE\" -o \"$MERGED\"
	trustExitCode = true
[help]
	autoCorrect = 2
